<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>Truffle</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon">
    <link rel="icon" href="images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://kit.fontawesome.com/560ecaf078.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="page">
        <nav>
            <a href="/cookbook" class="top">
                <i class="fas fa-book"></i>
                <span class="tool tip1">Recipes</span>
            </a>
            <a href="/" class="Home">
                <i class="fas fa-search"></i>
                <span class="tool tip2">Home</span>
            </a>
            <a href="/todos" class="cart">
                <i class="fas fa-shopping-cart"></i>
                <span class="tool tip3">Shopping</span>
            </a>
            <a href="../auth/logout" class="bottom">
                <i class="fas fa-sign-out-alt"></i>
                <span class="tool tip4">Logout</span>
            </a>
        </nav>
        <section class="header">
            <h1 class="truffle smallTruffle">Truffle</h1>
            <form class="form smallForm" action="/recipe/grabRecipe" method="POST" autocomplete='off'>
                <input id="input" class="importRecipe smallInput" type="text" name="url"
                    placeholder="Paste the URL of a recipe" id="" required>
                <button class="importRecipe2 smallButton" type="submit" value="Import" name="" id=""><i
                        class="fas fa-search"></i></button>
            </form>

        </section>
            <section class="cookbookTittle">
                <h1 class="cookbookYourRecipes">Your Recipes</h1>
            </section>
            
            <section class="cookbookContainer">
                <section class="yourRecipes">
                    <% recipe.forEach( el=> { %>
                        <section class='recipeItem' data-id='<%=el._id%>'>
                            
                            <section class="cookbookImgContainer" style="background:url('<%= el.image%>'); background-position: center center; background-repeat: no-repeat; background-size: cover;">
                                <form action="/recipe/grabRecipe" method="POST">
                                    <input type="hidden" value="<%= el.url %>" name="url">
                                    <button class="cookbookButton"></button>
                                    <section class="containerRecipe">
                                        <h2 class="cookbookRecipeName"> <%= el.name %> </h2>
                                        <a class="cookbookOgLink" href="<%= el.url %>" target=_blank>Original Recipe</a>
                                        <span id="cookbookTrash" class='del'><i class="fas fa-trash fa-lg"></i></span>
                                    </section>
                                </form>
                            </section>    
                        </section>
                    <% }) %>
                </section>
            </section>
        </section>
    <script src="/js/cookbook.js"></script>
    <script src="/js/recipe.js"></script>
</html>