<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truffle</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@400;600&family=Source+Sans+Pro:wght@600&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon">
    <link rel="icon" href="images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://kit.fontawesome.com/560ecaf078.js" crossorigin="anonymous"></script>
</head>

<body class="back">
    <section class="page">
        <nav>
            <a href="/cookbook" class="top">
                <i class="fas fa-book"></i>
                <span class="tool tip1">Recipes</span>
            </a>
            <a href="/" class="Home">
                <i class="fas fa-search"></i>
                <span class="tool tip2">Search</span>
            </a>
            <a href="/todos" class="cart">
                <i class="fas fa-shopping-cart"></i>
                <span class="tool tip3">Shopping</span>
            </a>
            <a href="../auth/logout" class="bottom">
                <i class="fas fa-sign-out-alt"></i>
                <span class="tool tip4">Logout</span>
            </a>
        </nav>
        <section class="header">
            <h1 class="truffle smallTruffle">Truffle</h1>
            <form class="form smallForm" action="/recipe/grabRecipe" method="POST" autocomplete='off'>
                <input id="input" class="importRecipe smallInput" type="text" name="url" placeholder="Paste the URL of a recipe" id="" required>
                <button class="importRecipe2 smallButton" type="submit" value="Import" name="" id=""><i class="fas fa-search"></i></button>
            </form>
            <div>
                <a href="/auth/login" class="signIn smallSignIn">Sign in</a>
            </div>
            
        </section>
        <section id="recipe" class='recipe'>
            <section class="recipePt1">
                <section class="recipeImage">
                    <img class="" src="<%= recipe.image %>" alt="">
                </section>
                <h2 class="recipeName"> <%= recipe.name %> </h2>
                <!-- <section class="recipeStuff">
                    <section class="recipeExtra">
                        <i id="clock" class="fas fa-clock"></i>
                        <span class="recipeCook"> <%= recipe.time.cook %> </span>
                        <i id="pie" class="fas fa-chart-pie"></i>
                        <span class="serving"> <%= recipe.servings %> </span>
                        <span class="recipeServings">Servings</span>
                        <i id="link" class="fas fa-link recipeOg"></i>
                        <a href="#" class="recipeOg">Original Recipe</a>
                    </section>
                </section> -->
            </section>
            <section class="recipeSave">
                <form action="/recipe/saveRecipe" method="POST" class=recipeSaveLink>
                    <input type="hidden" name="url" id="recUrl" value="">
                    <input type="hidden" name="name" id="" value="<%= recipe.name %>">
                    <input type="hidden" name="image" id="" value="<%= recipe.image %>">
                    <button id="saveRecipe" class="button4">Save Recipe</button>
                    <!-- <span id="recUrl" name="recUrl"></span> -->
                </form>
                <button class="print">
                    <i id="print" class="fas fa-print"></i><span class="print">Print</span>
                </button>
            </section>
            <section class="recipeStuff">
                <section class="recipeExtra">
                    <i id="clock" class="fas fa-clock"></i>
                    <span class="recipeCook">
                        <%= recipe.time.cook %>
                    </span>
                    <i id="pie" class="fas fa-chart-pie"></i>
                    <span class="serving">
                        <%= recipe.servings %>
                    </span>
                    <span class="recipeServings">Servings</span>
                    <i id="link" class="fas fa-link recipeOg"></i>
                    <a id="anchor" href="http://google.com" class="recipeOg" target="_blank">Original Recipe</a>
                </section>
            </section>
            <section class="recipePt2">
                <section class="recipeIngredients2">
                    <span class="recipeIngredients strong"><strong>Ingredients</strong></span>
                    <ul class='recipeIngredients'>
                    <% for(let i=0; i < recipe.ingredients.length; i++) {%>
                        <li class='recipeIngredients border'><%=recipe.ingredients[i] %></li>
                    <% } %>
                    </ul>
                </section>
                <section class="recipeInstructions2">
                    <span class="recipeInstructions"><strong>Directions</strong></span>
                    <ol class='recipeInstructions'>
                    <% for(let i=0; i < recipe.instructions.length; i++) {%>
                        <li class='recipeInstructions'>
                            <%=recipe.instructions[i] %>
                        </li>
                    <% } %>
                    </ol>
                </section>
            </section>
        </section>
    </section>
    



    <script src="/js/recipe.js"></script>
</body>

</html>