<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <h1>Truffle</h1>
    <form action="/grabRecipe" method="POST">
        <input type="text" name="url" placeholder="Paste the URL of a recipe" id="">
        <input type="submit" name="" id="">
    </form>
    <h2 class="recipeName"><%= recipe.name %></h2>
    <h3 class="recipeDescription"><%= recipe.description %></h3>
    <span class="recipePrep"><%= recipe.time.prep %></span>
    <span class="recipeCook"><%= recipe.time.cook %></span>
    <span class="recipeTotal"><%= recipe.time.total %></span>
    <span class="recipeServings"><%= recipe.servings %></span>
    <img src="<%= recipe.image %>" alt="">

    <ul class='recipeIngredients'></ul>
    <% for(let i=0; i < recipe.ingredients.length; i++) {%>
        <li class='recipeIngredients'><%=recipe.ingredients[i] %></li>
    <% } %>

    <ol class='recipeInstructions'></ol>
    <% for(let i=0; i < recipe.instructions.length; i++) {%>
        <li class='recipeInstructions'>
            <%=recipe.instructions[i] %>
        </li>
        <% } %>
    



    <script src="js/main.js"></script>
</body>

</html>