<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>Truffle</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon">
    <link rel="icon" href="images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://kit.fontawesome.com/560ecaf078.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="page">
        <nav>
            <a href="/" class="top">
                <i class="fas fa-book"></i>
                <span class="tool tip1">Recipes</span>
            </a>
            <a href="#" class="search">
                <i class="fas fa-search"></i>
                <span class="tool tip2">Search</span>
            </a>
            <a href="/todos" class="cart">
                <i class="fas fa-shopping-cart"></i>
                <span class="tool tip3">Grocery</span>
            </a>
            <a href="../auth/logout" class="bottom">
                <i class="fas fa-sign-out-alt"></i>
                <span class="tool tip4">Logout</span>
            </a>
        </nav>
        <section class="header">
            <h1 class="truffle smallTruffle">Truffle</h1>
            <form class="form smallForm" action="/grabRecipe" method="POST" autocomplete='off'>
                <input id="input" class="importRecipe smallInput" type="text" name="url" placeholder="Paste the URL of a recipe"
                    id="" required>
                <button class="importRecipe2 smallButton" type="submit" value="Import" name="" id=""><i
                        class="fas fa-search"></i></button>
            </form>
            <div>
                <a href="/auth/login" class="signIn smallSignIn">Sign in</a>
            </div>
        
        </section>
        <section>
            <h1>Grocery List</h1>
            <ul>
                <% todos.forEach( el=> { %>
                    <li class='todoItem' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? ' completed' : 'not' %>'><%= el.todo %></span>
                        <span class='del'><i class="fas fa-trash"></i></span>
                    </li>
                        <% }) %>
            </ul>

            <h2>
                <%= user.displayName %> has <%= left %> things left to grab.
            </h2>

            <form action="/todos/createTodo" method='POST'>
                <input type="text" placeholder="Enter Grocery Item" name='todoItem'>
                <input type="submit">
            </form>     
        </section>
    </section>
    <script src="js/todos.js"></script>
</html>
    
